django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.0
python-dotenv>=1.0
pdfplumber>=0.11
pdf2image>=1.17
pytesseract>=0.3
weasyprint>=60.0
djangorestframework-simplejwt>=5.3
gunicorn>=21.2
psycopg2-binary>=2.9
django-storages[azure]>=1.14
whitenoise>=6.6
